{% extends 'base.html' %}

{% block main %}
    <div class="wrapper">
        <h1>プロフィール</h1>
        <h3>メールアドレス:{{user.email}}</h3>
        <h3>■ お気に入り授業</h3>
        <ul>
            {% for cl in user.favorite_class.all %}
                <a href="{% url 'class' cl.id %}">
                    <div class="class_result">
                        <div class="class_result_left">
                            <h2>{{ cl.class_name }}</h2>
                            <h5>{{ cl.teacher }}先生</h5>
                        </div>
                        <div class="class_result_middle">
                            <ul>
                                <li>{{ cl.year }}年度</li>
                                <li>{{ cl.term }}</li>
                                <li>{{ cl.place}}</li>
                            </ul>
                        </div>
                        <div class="class_result_right">
                            <ul>
                                <li>いいね{{ cl.favorite }}</li>
                            </ul>
                        </div>
                    </div>
                </a>
            {% empty %}
                <p>お気に入りの授業がありません</p>
            {% endfor %}
        <h3>■ 投稿したコメント</h3>
            {% for comment in mycomments%}
                <a href="{% url 'class' comment.cl.id %}">
                    <div class="recent_comment">
                        <div class="recent_comment_left">
                            <h2>{{comment.cl.class_name}}</h2>
                            <h5>{{ comment.cl.teacher }}先生</h5>

                        </div>
                        <div class="recent_comment_middle">
                            <p>{{comment.text}}</p>
                        </div>
                        <div class="recent_comment_right">
                            {% comment %} <p>評価:<span class='star'>{{comment.get_star}}</span></p> {% endcomment %}
                            <span class="star">{{comment.get_star}}</span><span class="my-gray">{{comment.get_left_star}}</span>
                        </div>
                    </div>
                </a>
            {% empty %}
            <p>コメントはありません</p>
            {% endfor %}
        </ul>
    </div>
{% endblock main %}