{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/_log.css' %}">
{% endblock css %}

{% block main %}
    <div class="wrapper">
        <div class="log_form">
        <form method="post">
            {% csrf_token %}
            <h1>新規登録</h1>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <p class="emphasize">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <ul>
                <h4>メールアドレス</h4>
                <li>{{ form.email}} </li>
                <h4>パスワード</h4>
                <li>{{ form.password1 }}</li>
                <h4>パスワード確認</h4>
                <li>{{ form.password2 }}</li>
                <li class="center"><input type = 'submit' class='btn signup', value="新規登録"></input></li>
            </ul>
        </form>
        <div class="center">
            <a href={% url 'account_login' %}><input type="submit" value="ログイン", class="btn login"></a>
        </div>
        </div>
    </div>
{% endblock main %}
