{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/_log.css' %}">
{% endblock css %}

{% block main %}
    <div class="wrapper">
        <div class="log_form">
        <form method="post">
            <h1>新規登録</h1>
            {% csrf_token %}
            <ul>
                <h4>メールアドレス</h4>
                <li>{{ form.email}} </li>
                <h4>パスワード</h4>
                <li>{{ form.password1 }}</li>
                <h4>パスワード確認</h4>
                <li>{{ form.password2 }}</li>
                <li class="center"><input type = 'submit' class='btn login', value="新規登録"></input></li>
            </ul>
            {% comment %} <button type = "submit">新規登録</button> {% endcomment %}

        </form>
        </div>
    </div>
{% endblock main %}
