.search_with_keyword {
    margin-bottom: 10px;
    text-align: center;
}

.keyword {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid var(--my-gray);
}

.keyword::placeholder {
    text-align: center;
}

.how_to_search {
    text-align: center;
    font-size: 16px;
    padding: 15px 0px;
    font-weight: bold;
}

.search_with_terms input[type='radio']:checked+label {
    box-sizing: border-box;
    border: 1px solid var(--my-gray);
    color: white;
    background-color: #1D9BF0;
}

.search_with_terms input[type='radio']+label {
    cursor: pointer;
}

.reset_condition a{
    border-bottom: 1px solid black;
}

.recent_comment {  
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--my-gray);
    margin: 10px 0px 15px;
    display: flex;
}

.search_btn {
    background-color: var(--my-pink);
    border: none;
    color: white;
    width: 300px;
    margin-top: 15px;
    height: 10px;
    line-height: 10px;
    font-size: 18px;
    padding: 10px 20px;
    box-shadow: 0 3px 6px -2px #000a3c33;
}

.radio_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 20px;
}

.radio_wrap label{
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid var(--my-gray);
    height: 50px;
    width: calc(90% / 3);
    line-height: 50px;
}

.radio_wrap_name {
    width: 10%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.radio_wrap_half {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.radio_wrap_half select {
    /* border-color: blue; */
    border: 1px solid var(--my-gray);
    box-sizing: border-box;
}

.radio_wrap_half_name {
    width: 20%;
    height: 50px;
    line-height: 50px;
}

.radio_wrap_half select {
    width: 80%;
    text-align: center;
    height: 45px;
    cursor: pointer;
}

.features {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 0;
}

.feature {
    width: calc(calc(100% - 30px)/3);
    /* width: calc(100% / 3); */
    box-sizing: border-box;
    margin: 5px;
    padding: 10px 20px;
    display: flex;
}

.feature_left {
    width: 20%;
    text-align: center;
}

.feature_left .fas {
    font-size: 24px;
    padding-top: 5px;
}

.feature_right {
    width: 80%;
}

.feature_bold {
    font-weight: bold;
}

.server {
    margin-top: 10px;
    font-size: 20px;
    border: 3px solid red;
    box-sizing: border-box;
    text-align: center;
}

.server a{
    color: blue;
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .feature {
        width: 100%;
        padding: 10px 0;

    }

    .radio_wrap {
        margin-bottom: 0;
    }
    .radio_wrap label{
        width: calc(100% / 3);
    }
    
    .radio_wrap_name {
        width: 100%;
    }

    .radio_wrap_half_name {
        width: 100%;
    }

    .radio_wrap_half select {
        width: 100%;
        margin: 0 3px;
    }

}