<header>
    <ul>
        <div class="header_left">
            <li><a href={% url 'index' %}>同志社大学授業検索サーチ</a></li>
        </div>
        <div class="header_right">
            {% if user.is_authenticated %}
                <li><a href={% url 'profile' %}>Profile</a></li>
                <li><a href={% url 'account_logout' %}>Logout</a></li>
            {% else %}
                <li><a href={% url 'account_login' %}>Login</a>        
                <li><a href={% url 'account_signup' %}>SignUp</a></li>
            {% endif %} 
        </div>
    </ul>
</header>