{% extends 'base.html' %}

{% block main %}
<div class="wrapper">
    <div class="class_title">
        <h1>{{ cl.class_name}}</h1>
        <p>{{ cl.teacher }}先生</p>
        <div class="share">
            <div class="share_left">
                <a href="" class="share_btn"><i class="fab fa-twitter fa-fw twitter"></i>ツイートする</a>
                <a href="" class="share_btn"><i class="fab fa-line fa-fw line"></i>シェアする</a>
            </div>
            <div class="share_right">
                {% if user.is_authenticated %}  
                    {% if checked_favorite %}
                    <a href={% url 'remove_favorite' user.id cl.id %} class="favorite">お気に入り済み</a> 
                    {% else %}
                    <a href={% url 'favorite' user.id cl.id %} class="favorite">お気に入り</a>
                    {% endif %}
                {% else %}
                    <a href={% url 'account_login' %} class="a_border">ログインすることでお気に入り登録が可能です</a>
                {% endif %} 
                <a href={% url 'good' cl.id %} class="good"><i class="fas fa-check fa-fw"></i>いいね{{cl.favorite}}</a>
            </div>
        </div>
    </div>
    <h3>基本情報</h3>
    <div class="class_show">
        <div class="class_show_left">
            <table class="basic_info">
                <tr>
                    <th>年度</th>
                    <td>{{ cl.year }}年</td>
                </tr>
                <tr>
                    <th>学期</th>
                    <td>{{ cl.term }}</td>
                </tr>
                <tr>
                    <th>場所</th>
                    <td>{{ cl.place}}</td>
                </tr>
                <tr>
                    <th>時間</th>
                    <td>{{ cl.time }}時限目</td>
                </tr>
            {% comment %} <li><span class="bold">年度</span>:{{ cl.year }}年</li>
            <li><span class="bold">学期</span>:{{ cl.term }}</li>
            <li><span class="bold">場所</span>:{{ cl.place}}</li>
            <li><span class="bold">時間</span>:{{ cl.time }}時限目</li> {% endcomment %}
            </table>
        </div>
        <div class="class_show_right">
            <div class="a_transition">
                <div class="a_chart">
                    {% if user.is_authenticated %}
                        <canvas id="chart"></canvas>
                    {% else %}
                        <p>ログインするとA率を確認できます</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <div class="profile_comment">
        <h3>■ コメント</h3>
        {% for comment in comments %}
            <div class="recent_comment">
                <div class="recent_comment_left">
                    <p>{{comment.text}}</p>
                </div>
                <div class="recent_comment_middle">
                </div>
                <div class="recent_comment_right">
                    <span class="star">{{comment.get_star}}</span><span class="my-gray">{{comment.get_left_star}}</span>
                </div>
            </div>
        {% empty %}
            <p>コメントがありません</p>
        {% endfor %}
        {% if user.is_authenticated %}
            <div class="comment_w">
                <a href={% url 'add_comment' user.id cl.id %}><i class="fas fa-pencil-alt fa-fw"></i>コメントを書く</a>
            </div>
        {% endif %}
    </div>
    <div class="related_recommend">
        <h3>■ 関連おすすめ授業</h3>
        {% for cl in related_classes %}
            <a href="{% url 'class' cl.id %}">
                <div class="class_result">
                    <div class="class_result_left">
                        <h2>{{ cl.class_name }}</h2>
                        <h5>{{ cl.teacher }}先生</h5>
                    </div>
                    <div class="class_result_middle">
                        <ul>
                            <li>{{ cl.year }}年度</li>
                            <li>{{ cl.term }}</li>
                            <li>{{ cl.place}}</li>
                        </ul>
                    </div>
                    <div class="class_result_right">
                        <ul>
                            <li><i class="fas fa-heart fa-fw"></i>{{ cl.favorite }}</li>
                        </ul>
                    </div>
                </div>
            </a>
        {% empty %}
            <p>おすすめクラスはありません</p>
        {% endfor %}
    </div>
</div>


<script>
var ctx = document.getElementById("chart");
var myLineChart = new Chart(ctx, {
// グラフの種類：折れ線グラフを指定
type: 'line',
data: {
    // x軸の各メモリ
    labels: ['2019', '2020', '2021'],
    datasets: [
    {
        label: 'A率',
        data: [72, 77, 56],
        borderColor: "#ec4343",
        backgroundColor: "#00000000"
    },
    ],
},
options: {
    title: {
    display: true,
    text: 'A率の遷移（過去３年）'
    },
    scales: {
    yAxes: [{
        ticks: {
        suggestedMax: 100,
        suggestedMin: 0,
        stepSize: 20,  // 縦メモリのステップ数
        callback: function(value, index, values){
            return  value +  '%'  // 各メモリのステップごとの表記（valueは各ステップの値）
        }
        }
    }]
    },
}
});
  
</script>


{% endblock main %}