{% extends 'base.html' %}

{% block main %}
<div class="wrapper">
    <div class="class_title">
        <h1>{{ cl.class_name}}<span class='teacher_span'>{{cl.teacher}}先生</span></h1>
        {% comment %} <p>{{ cl.teacher }}先生</p> {% endcomment %}
        <div class="share">
            <div class="share_left">
                {% comment %} <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="同志社大学の授業のA率や評定平均、口コミなどが簡単に検索できます！" data-hashtags="dclass" data-lang="ja" data-show-count="false">ツイート</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> {% endcomment %}
                {% comment %} <a href="" class="share_btn"><i class="fab fa-twitter fa-fw twitter"></i>ツイートする</a> {% endcomment %}
                {% comment %} <a href="" class="share_btn"><i class="fab fa-line fa-fw line"></i>シェアする</a> {% endcomment %}
                {% comment %} <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="http://127.0.0.1:8000/" data-color="default" data-size="small" data-count="false" style="display: none;"></div> {% endcomment %}
                {% comment %} <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script> {% endcomment %}
            </div>
            <div class="share_right">
                {% if user.is_authenticated %}  
                    {% if checked_favorite %}
                        <a class="favorite favorite_check" name="{{cl.id}}">お気に入り</a>
                    {% else %}
                        <a class="favorite" name="{{cl.id}}">お気に入り</a>
                    {% endif %}
                {% else %}
                    <a href={% url 'account_login' %} class="favorite">お気に入り</a>
                {% endif %}
                {% comment %} <a href={% url 'good' cl.id %} class="good"><i class="fas fa-check fa-fw"></i>いいね{{cl.favorite}}</a> {% endcomment %}
                <a class="good" name="{{cl.id}}"><i class="fas fa-check fa-fw"></i>いいね<span class="good_cnt">{{cl.favorite}}</span></a>
            </div>
        </div>
    </div>
    <h3><i class="fas fa-square fa-fw my-blue"></i>基本情報</h3>
    <div class="class_show">
        <div class="class_show_left">
            <table class="basic_info">
                <tr>
                    <th>年度</th>
                    <td>{{ cl.year }}年</td>
                </tr>
                <tr>
                    <th>学期</th>
                    <td>{{ cl.term }}</td>
                </tr>
                <tr>
                    <th>学部</th>
                    <td>{{ cl.faculty}}</td>
                </tr>
                <tr>
                    <th>場所</th>
                    <td>{{ cl.place}}</td>
                </tr>
                <tr>
                    <th>時間</th>
                    <td>{{ cl.time }}時限目</td>
                </tr>
                <tr>
                    <th>曜日</th>
                    <td>{{ cl.day }}</td>
                </tr>
                <tr>
                    <th>授業形態</th>
                    <td>{{cl.class_form}}</td>
                </tr>
                <tr>
                    <th>教科書</th>           
                    <td>
                        {% comment %} <div>{{cl.textbook}}</div> {% endcomment %}
                        <div>本の名前</div>
                        <div>
                            ISBN:9784779508301 
                        </div>
                        <div><a target= 'blank' class = "amazon" href="https://www.amazon.co.jp/%E3%81%BA%E3%82%93%E3%81%A6%E3%82%8B-%E3%82%B7%E3%83%A3%E3%83%BC%E3%83%97%E3%83%9A%E3%83%B3-%E3%82%B0%E3%83%A9%E3%83%95%E3%82%AE%E3%82%A21000-PG1013-0-3mm/dp/B0013NE3PQ/ref=zg_bs_89413051_1?_encoding=UTF8&refRID=YXMV3GT0TE9JNASPGGNR&th=1">Amazonでチェック</a></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="class_show_right">
            <div class="a_transition">
                <div class="a_chart">
                    {% if user.is_authenticated %}
                        <canvas id="chart"></canvas>
                    {% else %}
                        <p>ログインするとA率を確認できます</p>
                    {% endif %}
                </div>
            </div>

            <div class="evaluation_ratio">
                <table>
                    <caption>評価基準</caption>
                    <tr>
                        <th>出席点</th>
                        <th>レポート</th>
                        <th>テスト</th>
                    </tr>
                    <tr>
                        <td>{{cl.participation_ratio}}%</td>
                        <td>{{cl.report_ratio}}%</td>
                        <td>{{cl.test_ratio}}%</td>
                    </tr>
                </table>
            </div>
            <div class="evaluation_ratio">
                <table>
                    <caption>前年度 評定平均 {{cl.average_evaluation}}</caption>
                    <tr>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>
                        <th>D</th>
                        <th>F</th>
                        <th>O</th>
                    </tr>
                    <tr>
                        <td>{{cl.a_ratio}}</td>
                        <td>{{cl.b_ratio}}</td>
                        <td>{{cl.c_ratio}}</td>
                        <td>{{cl.d_ratio}}</td>
                        <td>{{cl.f_ratio}}</td>
                        <td>{{cl.o_ratio}}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div class="profile_comment">
        <h3><i class="fas fa-square fa-fw my-blue"></i>コメント</h3>
        <div class="comment_w">
            {% for comment in comments %}
                <div class="class_result">
                    <a href="{% url 'class' comment.cl.id %}">
                        <div class="comment_result_content">
                            <h2>{{comment.cl.class_name}}</h2>
                            <span class="star">{{comment.get_star}}</span><span class="my-gray">{{comment.get_left_star}}</span>
                            <p>{{ comment.cl.teacher }}先生</p>
                            <p>{{comment.text}}</p>
                        </div>
                    </a>
                </div>
            {% empty %}
                <p>コメントがありません</p>
            {% endfor %}
        </div>

        <div class="comment_btn">
            {% if user.is_authenticated %}
                <a href={% url 'add_comment' cl.id %}><i class="fas fa-pencil-alt fa-fw"></i>コメントを書く</a>
            {% else %}
                <a href={% url 'account_login' %}><i class="fas fa-pencil-alt fa-fw"></i>コメントを書く</a>
            {% endif %}
        </div>

    </div>
    <div class="related_recommend">
        <h3><i class="fas fa-square fa-fw my-blue"></i>関連おすすめ授業</h3>
        <div class="class_w"> 
            {% for cl in related_classes %}
                {% include "_class_list.html" %}
            {% empty %}
                <p>おすすめの授業はありません</p>
            {% endfor %}
        </div>
    </div>
        <div>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="同志社大学の授業のA率や評定平均、口コミなどが簡単に検索できます！" data-hashtags="dclass" data-lang="ja" data-show-count="false">ツイート</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            {% comment %} <a href="" class="share_btn"><i class="fab fa-twitter fa-fw twitter"></i>ツイートする</a> {% endcomment %}
            {% comment %} <a href="" class="share_btn"><i class="fab fa-line fa-fw line"></i>シェアする</a> {% endcomment %}
            <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="http://127.0.0.1:8000/" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
            <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        </div>
    <div>
        <form action="{{request.META.HTTP_REFERER}}" method = "get"> 
            {% csrf_token %}
            <input type="submit" value="前のページにもどる" class="previous_page_btn">
        </form>
    </div>
</div>



{% endblock main %}


{% block javascript %}
<script>
    'use strict'
    var ctx = document.getElementById("chart");
    var myLineChart = new Chart(ctx, {
    // グラフの種類：折れ線グラフを指定
    type: 'line',
    data: {
        // x軸の各メモリ
        labels: ['2019', '2020', '2021'],
        datasets: [
        {
            label: 'A率',
            data: [72, 77, 56],
            borderColor: "#ec4343",
            backgroundColor: "#00000000"
        },
        ],
    },
    options: {
        title: {
        display: true,
        text: 'A率の遷移（過去３年）'
        },
        scales: {
        yAxes: [{
            ticks: {
            suggestedMax: 100,
            suggestedMin: 0,
            stepSize: 20,  // 縦メモリのステップ数
            callback: function(value, index, values){
                return  value +  '%'  // 各メモリのステップごとの表記（valueは各ステップの値）
            }
            }
        }]
        },
    }
    });
    
    $(".favorite").click(function(){
        $.ajax(
            {
                type:"GET",
                url: "ajaxfavorite",
                data: {
                    clpk: $(this).attr('name') 
                }
            }
        );
        $(this).toggleClass("favorite_check");
    });

    $(".good").click(function(){
        const check_bool = $(this).hasClass("good_check");
        $.ajax(
            {
                type:"GET",
                url: "ajaxgood",
                data: {
                    clpk: $(this).attr('name'),
                    check_bool: check_bool,
                }
            }
        );
        let good_cnt = $(".good_cnt").text();
        if (check_bool) good_cnt --;
        else good_cnt ++;
        $(this).toggleClass("good_check");
        $(".good_cnt").text(good_cnt);
    });
</script>
{% endblock javascript %}