{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/_class_list.css' %}">
{% endblock css %}

{% block main %}
    <div class="wrapper">
        <h1 class="title heading">授業を探す</h1>
            <form action="{% url 'result' %}" method = "post" class="search_form">
                {% csrf_token %}
                <div class = 'search_with_terms'>
                    <p class="how_to_search"><i class="fas fa-search fa-fw"></i>条件から探す</p>
                    <div class="radio_wrap">
                        <div class="radio_wrap_name"><i class="fas fa-cloud-sun-rain fa-fw"></i>学期</div>
                        {% for radio in form.term %}
                            {{ radio.tag }}
                            <label for="id_term_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                        {% endfor %}
                    </div>
                    <div class="radio_wrap">
                        <div class="radio_wrap_name"><i class="fas fa-map-marker-alt fa-fw"></i>場所</div>
                        {% for radio in form.place %}
                            {{ radio.tag }}
                            <label for="id_place_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                        {% endfor %}
                    </div>
                    <div class="radio_wrap">
                        <div class="radio_wrap_name"><i class="fas fa-school"></i>形態</div>
                        {% for radio in form.class_form %}
                            {{ radio.tag }}
                            <label for="id_class_form_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                        {% endfor %}
                    </div>
                    <div class="radio_wrap">
                        <div class="radio_wrap_half">
                            <i class="fas fa-graduation-cap fa-fw"></i>
                            {{ form.faculty.label }}
                            {{ form.faculty }}
                        </div>
                        <div class="radio_wrap_half">
                            <i class="fas fa-sun"></i>
                            {{ form.day.label }}
                            {{ form.day }}
                        </div>
                        {% comment %} {% for radio in form.day %}
                            {{ radio.tag }}
                            <label for="id_day_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                        {% endfor %} {% endcomment %}
                    </div>
                    <div class="radio_wrap">
                        {% comment %} {{ form.faculty.label }}
                        {{ form.faculty }} {% endcomment %}
                        {% comment %} {% for radio in form.faculty %}
                            {{ radio.tag }}
                            <label for="id_day_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                        {% endfor %} {% endcomment %}
                    </div>
                </div>
                <div class="search_with_keyword">
                    <p class="how_to_search"><i class="fas fa-chalkboard-teacher fa-fw"></i>授業名・教師で探す</p>
                    <div>
                        {{ form.keyword }}
                    </div>
                    <div class="center">
                        <input type="submit" value="検索", class="btn search_btn">
                    </div>
                </div>
            </form>
            <div class="center reset_condition">
                <a href={% url 'index' %}>検索条件のクリア</a>
            </div>
    </div>

    <div class="wrapper">
        <h1>おすすめ授業</h1>
        <div class="class_w">
            {% for cl in recommend_data %}
                {% include "_class_list.html" %}
            {% empty %}
                <p>おすすめの授業はありません</p>
            {% endfor %}
        </div>
    </div>

    <div class="wrapper">
        <h1>最近のコメント</h1>
        <div class="comment_w">
            {% for comment in recent_comments %}
                {% include "_comment_list.html" %}
            {% empty %}
                <p>コメントがありません</p>
            {% endfor %}
        </div>
    </div>

{% endblock main %}

