.header_right {
    margin-left: auto;
    display: flex;
}

header {
    padding: 8px 10px;
    font-size: 18px;
}

header li {
    padding: 0 10px;
    box-sizing: border-box;
}

header a {
    color: white;
}

header ul {
    display: flex;
}
