.stars input[type='radio']:checked ~ label{
    color: #F8C601;
    color: var(--my-star)
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: flex-end; 
}

.star_template_w {
    display: flex;
    height: 30px;
    line-height: 30px;
    margin: 10px 0px;
}

.stars label {
    font-size: 22px;
    color: var(--my-gray);
    padding-left: 3px;
    cursor: pointer;
}

.comment_template {
    background-color: var(--my-blue);
    color: white;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    cursor: pointer;
}