
.a_chart {
    margin: 0 auto;
    /* width: 400px; */
    width: 100%;
}


.twitter {
    color: #1D9BF0;
}

.line {
    color: #41C007;
}

.amazon {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

.favorite {
    color: var(--my-blue);
    border: 1px solid var(--my-blue);
    box-sizing: border-box;
    height: 25px;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 13px;
    cursor: pointer;
}

.good {
    height: 25px;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 13px;
    border: 1px solid var(--my-blue);
    color: var(--my-blue);
    cursor: pointer;
}

.good_check {
    background-color: var(--my-blue);
    color: white; 
}

.favorite_check {
    background-color: var(--my-blue);
    color: white;
}

.related_recommend {
    margin-top: 50px;
}

.syllabus {
    padding: 5px 35px;
    width: 100%;
    border: 1px solid var(--my-pink);
    color: var(--my-pink);
    box-sizing: border-box;
    border-radius: 5px;
}

.comment_btn {
    text-align: center;
    margin-top: 10px;
}

.comment_btn a {
    color: var(--my-blue);
    padding: 16px 20px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid var(--my-blue);
    width: 200px;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
}

.class_footer {
    border-top: 1px solid var(--my-gray);
    margin-top: 30px;
    padding-top: 20px;
    display: flex;
}

.class_back_btn {
    margin-top: 20px;
    text-align: center;
}

.class_back_btn input{
    padding: 16px 20px;
    border-radius: 5px;
    border: 1px solid var(--my-blue);
    cursor: pointer;
    background-color: white;
    color: var(--my-blue);
    width: 200px;
    box-sizing: border-box;
}

.margin_left {
    margin-left: auto;
}


.class_show li{
    border-bottom: 1px solid var(--my-gray);
    height: 40px;
    line-height: 40px;
}


.comment_result_content h2 {
    display: none;
}

.teacher_link {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0, 60, 255);
}