.search_with_keyword {
    margin-bottom: 10px;
    text-align: center;
}

.how_to_search {
    text-align: center;
    font-size: 16px;
    padding: 15px 0px;
}

.search_with_terms input[type='radio']:checked+label {
    box-sizing: border-box;
    border: 1px solid var(--my-gray);
    color: white;
    background-color: #1D9BF0;
}

.search_with_terms input[type='radio']+label {
    cursor: pointer;
}

.reset_condition a{
    border-bottom: 1px solid black;
}

.recent_comment {  
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--my-gray);
    margin: 10px 0px 15px;
    display: flex;
}

.search_btn {
    background-color: var(--my-pink);
    border: none;
    color: white;
    width: 300px;
    margin-top: 15px;
    height: 10px;
    line-height: 10px;
    font-size: 18px;
    padding: 10px 20px;
}

.radio_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    margin-bottom: 20px;
}

.radio_wrap label{
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid var(--my-gray);
    height: 50px;
    width: 100%;
    line-height: 50px;
}

.radio_wrap_name {
    width: 20%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.radio_wrap_half {
    width: 50%;
}

.radio_wrap_half select {
    width: 80%;
    text-align: center;
    height: 45px;
    cursor: pointer;
}

.feature {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 0;
}

.feature li{
    width: calc(calc(100% - 30px)/3);
    border: 1px solid var(--my-gray);
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 20px;
}

.feature li h3 {
    text-align: center;
    margin: 5px 0;
}

@media screen and (max-width: 767px) {
    .feature li{
        /* width: calc(100%-10px); */
        width: 100%;
    }
}