* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Osaka", "sans-serif";
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

:root { 
    --my-gray: #DEE2E6;
    --my-light-gray: #F3F3F3;
    --my-black: #353A40;
    --my-blue: #1458e0;
    --my-pink: #F06B6B;
}

header {
    background-color: var(--my-black);
    color: white;
    height: 40px;
    line-height: 40px;
    padding: 8px 16px; 
    /* display: flex; */
}

header ul {
    display: flex;
}

.header_right {
    margin: 0 0 0 auto;
    display: flex;
}

.header_right li {
    padding: 0px 10px;
    box-sizing: border-box;
}

header a {
    color: white;
}

html {
    background-color: var(--my-light-gray);
}

.main {
    padding-bottom: 100px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.wrapper {
    margin: 40px 0px;
    padding: 40px 50px;
    /* width: 100%;
    max-width: 1100px; */
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
}

.a_border { 
    text-decoration: underline;
    box-sizing: border-box;
}

.class_result {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--my-gray);
    margin: 10px 0px;
    display: flex;
}

.class_result_left {
    width: 35%;
}

.class_result_middle {
    width: 40%;
}

.class_result_right {
    width: 25%;
}



.title {
    display: flex;
    flex-wrap: wrap;
    height: 45px;
    line-height: 45px;
}

.title > h1 {
    font-size: 20px;
}

.title > p {
    font-size: 14px;
}

.title span {
    font-size: 20px;
    color: #EF170D;
}

.heading {
    border-bottom: 1px solid var(--my-gray);
}

.a_transition {
    width: 100%;
    border: 1px solid var(--my-gray);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.evaluation_ratio {
    width: 100%;
    /* border: 1px solid var(--my-gray); */
    /* border-radius: 5px; */
    box-sizing: border-box;
    margin-bottom: 20px;
}

.evaluation_ratio table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 5px;
}

.evaluation_ratio table th {
    background-color: var(--my-light-gray);
}

.evaluation_ratio table th {
    border: solid 1px var(--my-light-gray);
}


.evaluation_ratio table td {
    border: solid 1px var(--my-light-gray);
}

.a_chart {
    margin: 0 auto;
    width: 400px;
}

.profile_comment {
    width: 100%;
    margin-top: 20px;
}

.class_title {
    width: 100%;
    margin-bottom: 40px;
}

.class_show {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.class_show_left {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.class_show_right {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
    width: 130px;
}

.basic_info {
    width: 100%;
}

.basic_info th {
    border-top: 1px solid var(--my-gray);
    box-sizing: border-box;
    padding: 10px 0px;
    width: 30%;
}

.basic_info td {
    border-top: 1px solid var(--my-gray);
    padding: 10px 0px;
    box-sizing: border-box;
}



.class_show li{
    border-bottom: 1px solid var(--my-gray);
    height: 40px;
    line-height: 40px;
}

.btn {
    color: white;
    border: none;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1D9BF0;
}

.share {
    display: flex;
}

.share_right {
    margin: 0 0 0 auto;
}

.share_btn {
    height: 20px;
    border: 1px solid var(--my-gray);
    border-radius: 3px;
    padding: 4px 12px;
    font-size: 13px;
}

.search_btn {
    background-color: #F06B6B;
    width: 300px;
    margin-top: 15px;
}

.twitter {
    color: #1D9BF0;
}

.line {
    color: #41C007;
}

.favorite {
    background-color: orange;
    color: white;
    height: 20px;
    border-radius: 3px;
    padding: 4px 12px;
    font-size: 13px;
}

.good {
    background-color: var(--my-blue);
    color: white;
    height: 20px;
    border-radius: 3px;
    padding: 4px 12px;
    font-size: 13px;
}

.my-blue {
    color: var(--my-blue)
}

.my-gray {
    color: var(--my-gray);
}

.my-pink {
    color: var(--my-pink);
}

.log_form {
    margin: 0 auto;
    width: 50%;
    /* text-align: center; */
}

.log_form h1 {
    text-align: center;
}

.log_form li {
    margin-top: 5px;
    margin-bottom: 15px;
}

.log_form input{
    width: 100%;
    height: 25px;
}

.log_form .btn {
    width: 200px;
    height: 40px;
}

.center {
    text-align: center;
}

.how_to_search {
    text-align: center;
    font-size: 16px;
    padding: 15px 0px;
}

.login {
    background-color: #F06B6B;
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked+label {
    box-sizing: border-box;
    border: 1px solid var(--my-gray);
    color: white;
    background-color: #1D9BF0;
}

.radio_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
}

.radio_wrap label{
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid var(--my-gray);
    height: 50px;
    width: 100%;
    line-height: 50px;
}

.reset_condition a{
    /* width: px; */
    border-bottom: 1px solid black;
}

.title {
    font-weight: 200;
}


.recent_comment {  
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--my-gray);
    margin: 10px 0px 15px;
    display: flex;
}

.recent_comment_left {
    width: 35%;
}

.recent_comment_middle{
    width: 40%;

}

.recent_comment_right {
    width: 25%;
}

.teacher_name {
    font-size: 12px;
    margin-left: 5px;
    color: #979797;
    /* font-weight: lighter; */
}

.comment_w {
    text-align: center;
}

.comment_w a {
    /* border: 1px solid var(--my-blue); */
    color: white;
    height: 50px;
    padding: 16px 20px;
    font-size: 14px;
    border-radius: 6px;
    background-color: var(--my-blue);
}

.star {
    color: orange;
}

.related_recommend {
    margin-top: 50px;
}